<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="conn" value="server=STPLPC2231;Initial catalog=Barcode;Integrated Security=True;"/>-->

		<add key="conn" value="server=192.168.1.181;database=SFCS;user id=sa;password=Syrma@2022;"/>
		<add key="conn1" value="server=192.168.1.146;database=Barcode;user id=sa;password=syrma@123;"/>
		<add key="conn2" value="server=192.168.1.146;database=Essencore;user id=sa;password=syrma@123;"/>
		<add key ="Executable_Path1" value="D:\SSDMP_3.1.0_VC3S500S_20250331_H3DTV6_Mass Production NEW FW(FG 37 38 39 60)\SSDMP_3.1.0_VC3S500S_20250331_H3DTV6_Mass Production\X64_Release\SSDMP.exe"/>
		<add key ="File_Path1" value="D:\SSDMP_3.1.0_VC3S500S_20250331_H3DTV6_Mass Production NEW FW(FG 37 38 39 60)\SSDMP_3.1.0_VC3S500S_20250331_H3DTV6_Mass Production\X64_Release\SSDMP.log"/>
		<add key ="Executable_Path2" value="D:\SM2268XT2_HYNIXV8_PKGY0917A_FWY0826A_Essencore_enable barcode\SM2268XT2_MPTool.exe"/>
		<add key ="File_Path2" value="D:\SM2268XT2_HYNIXV8_PKGY0917A_FWY0826A_Essencore_enable barcode\Log File"/>
		<add key ="BackupfilePath" value="D:\K3Logsbkp"/>
		
		<add key ="exePath" value ="D:\CrystalDiskInfo8_17_14\DiskInfo32.exe"/>
		<add key ="savePath" value ="D:\CDI Data\crystalDisk.txt"/>

	</appSettings>
</configuration>