<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="conn" value="server=STPLPC2231;Initial catalog=Barcode;Integrated Security=True;"/>-->

		<add key="SFCS" value="server=192.168.1.181;database=SFCS;user id=sa;password=Syrma@2022;"/>
		<add key="BARCODE" value="server=192.168.1.146;database=Barcode;user id=sa;password=syrma@123;"/>
		<add key="ESSENCORE" value="server=192.168.1.146;database=Essencore;user id=sa;password=syrma@123;"/>
		<add key ="BackupfilePath" value="D:\K3Logsbkp"/>		
		<add key ="exePath" value ="D:\CrystalDiskInfo8_17_14\DiskInfo32.exe"/>
		<add key ="savePath" value ="D:\CDI Data\crystalDisk.txt"/>
		<add key="NETWORKPATH" value ="\\192.168.1.121\MSI_Applications"/>

		<add key="ISONLINE" value="1"/>

	</appSettings>
</configuration>